body{
    overflow-y: hidden;
    text-align: center;
    background-size: cover;
    background-position: top 40% ;
    background-repeat: no-repeat;

}

ion-icon {
    color: white;
}



.circle {
    box-shadow: inset 0px 0px 15px #cdc9c2;
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.square {
    margin-top: 10em;
    position: relative;
    display: inline-block;
    padding: 5px;
    width: min-content;
    background-color: gray;
    border-style: solid;
    border-color: black;
    border-radius: 20px 20px 20px 20px;
}

.hsLight{
    background-color: yellow;
    animation: blinker 1.5s linear infinite;
}

.redLight{
    background-color: red;
}

.yellowLight{
    background-color: yellow;
}

.greenLight{
    background-color: lawngreen;
}

.off{
    background-color: black;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}