body{
    overflow-y: hidden;
    text-align: center;
    background-color: aqua;
    background-image: url("/Images/bg.jpg");
    background-size: cover;
    background-position: top 40% ;
    background-repeat: no-repeat;

}

.post{
    position: absolute;
    width: 50px;
    height: 300px;
    background-color: gold;
    transform: translateX(-50%);
    left: 50%;
    bottom: -302px;
    border-color: black;
}
a {
    display: block;
    margin: 0 auto;
    max-width: min-content;
    background-color: red;
    box-shadow: 0 5px 0 darkred;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    z-index: -1;

}

a:hover {
    background-color: #ce0606;
    cursor: pointer;
}

a:active {
    box-shadow: none;
    top: 5px;
}

.circle {
    box-shadow: inset 0px 0px 15px #cdc9c2;
    margin: 10px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.square {
    margin-top: 10em;
    position: relative;
    display: inline-block;
    padding: 5px;
    width: min-content;
    background-color: gray;
    border-style: solid;
    border-color: black;
    border-radius: 20px 20px 20px 20px;
}